

@import "helpers/helpersAuthorization";
body{
  margin: 0;
  padding: 0;
}

.display-flex(){
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  .display-flex();
  height: @wrapperHeight;
  background-image: @backgroundWrapper;
  text-align: @alignCenter;
  &__main{
    .display-flex();
    flex-direction: column;
    margin:0 auto;
      height: @mainWrapperHeight;
      width:@mainWrapperWidth;
      .authorization-form{
        .display-flex();
        flex-direction: column;
        justify-content: space-between;
        height: @authorizationHeight;
        width:@authorizationWidth;
        &__item{
          margin-bottom: @padding5px;
          label:first-child{
               padding-right: 10px;
          }
          input{
            padding: 7px;
            border:none;
            opacity: 0.7;
            outline: none;
            border-bottom: 2px solid #3399ff;
            transition-duration: 0.8s;
            &:focus {
              background-color: #4CAF50;
              color: white;
              border-bottom: 2px solid #9900cc;
            }
          }
          button{
            padding: @padding5px;
            background-color: @buttonBackgroundColor;
            color: @buttonTextColor;
            border: 2px solid #4CAF50;
            border-radius: 10px;
            font-size: 15px;
            transition-duration: 0.4s;
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

            &:hover {
              background-color: @buttonBackgroundColorHover;
              color: @buttonTextColorHover;
            }
          }


        }
      }
  }
}